<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://icon-library.com/images/2018/9908796_leaf-logo-purple-leaf-hd-png-download.png"
    />
    <title>Leaf Classification WebApps</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main
      class="py-10 md:py-14 flex justify-center items-center bg-fuchsia-800"
    >
      <section
        class="flex flex-col p-7 md:p-14 justify-center items-center bg-white rounded-lg shadow-lg"
      >
        <h1 class="text-3xl font-semibold mb-2">Belimbing vs Seledri</h1>
        <hr class="h-0.5 w-full rounded-lg bg-fuchsia-800" />
        {% if uploaded_image %}
        <img
          src="{{ url_for('send_uploaded_image', filename=uploaded_image) }}"
          class="mt-8 mb-4 h-48 border-8 border-gray-200 rounded-md"
        />
        {% else %}
        <div
          class="flex justify-center items-center my-8 w-48 h-48 border-8 border-gray-200 rounded-md"
        >
          <p class="text-center">
            Masukkan gambar Daun Belimbing atau Daun Seledri
          </p>
        </div>
        {% endif %} {% if prediction %}
        <p class="mb-8">Hasil Prediksi: {{prediction}}</p>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="flex flex-col">
          <input
            type="file"
            name="image"
            class="mb-4 p-4 border-8 border-gray-200 rounded-md bg-gray-100 w-full md:mb-6"
          />
          <button
            type="submit"
            class="p-4 text-white rounded-md bg-fuchsia-800 mx-8 transition-all duration-500 ease-out hover:mx-0 hover:bg-fuchsia-600"
          >
            Prediksi Gambar
          </button>
        </form>
      </section>
    </main>
    <footer class="flex gap-x-8 justify-center items-center h-32 bg-white">
      <img
        class="h-20"
        src="http://www.umm.ac.id/themes/umm10/images/logo.png"
        alt="logo-umm"
      />
      <div class="font-medium">
        <p class="underline mb-2">Created by:</p>
        <ul class="list-disc list-inside text-sm">
          <li>M Andre Cahyanto [236]</li>
          <li>Aldhy Sidqi P [226]</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
